.sidebar {
    -fx-background-color: #333645;
}

.sidebar-title {
    -fx-background-color: #00A2D3;
}

.sidebar-button {
    -fx-background-color: transparent;
}

.sidebar-button:hover {
    -fx-background-color: #4E5369;
}

.sidebar-menu-button {
    -fx-background-color: transparent;
}

.sidebar-menu-button:hover {
    -fx-background-color: #00B4EB;
}

.titlebar {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #ffc669;
}