.dashboard {
    -fx-border-color: #333645;
}

.text{
    -fx-font-smoothing-type: gray;
}

.sidebar {
    -fx-background-color: #333645;
}

.sidebar-title {
    -fx-background-color: #00A2D3;
}

.sidebar-button {
    -fx-background-color: transparent;
}

.sidebar-button:hover {
    -fx-background-color: #4E5369;
}

.sidebar-menu-button {
    -fx-background-color: transparent;
}

.sidebar-menu-button:hover {
    -fx-background-color: #00B4EB;
}

.titlebar {
    -fx-background-color: #FFFFFF;
}

.window-close-button {
    -fx-background-color: transparent;
}

.window-close-button:hover {
    -fx-background-color: #da1d1d;
}

.window-close-button:hover .window-close-icon {
    -fx-icon-color: #ffffff;
}

.window-minmax-buttons {
    -fx-background-color: transparent;
}

.window-minmax-buttons:hover {
    -fx-background-color: #d8e2e7;
}