.text{
    -fx-font-smoothing-type: gray;
}

.sidebar {
    -fx-background-color: #333645;
}

.sidebar-title {
    -fx-background-color: #00A2D3;
}

.sidebar-button {
    -fx-background-color: transparent;
}

.sidebar-button:hover {
    -fx-background-color: #4e5369;
}

.tabbar {
    -fx-background-color: #ffffff;
}